.body {
	background-color: #C9E3F3;
}

.loginEspaco {
	margin: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.centroTela{
	text-align: center;
	margin-top: 20px;
}

.icones{
	margin-top: 7px;
	margin-bottom: 7px;
}
